<div class="">
  <table mat-table [dataSource]="patients" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let patient">{{ patient.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let patient">{{ patient.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let patient">{{ patient.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opção</th>
      <td mat-cell *matCellDef="let patient">
        <button
          (click)="deletePatient(patient.id)"
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z8"
    [length]="totalPages"
    [pageSize]="5"
    [pageSizeOptions]="[1, 5, 10]"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>
</div>
