<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>dialpad</mat-icon>
      <span>{{'home' | translate}}</span>
    </button>
    <button mat-menu-item routerLink="/appointment">
      <mat-icon> today icon</mat-icon>
      <span>{{'schedule_appointment' | translate}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>{{'notifications' | translate}}</span>
    </button>
  </mat-menu>


  <span>{{'title_page' | translate}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
