<div class="autocomplete">
  <div class="autocomplete-input">
    <mat-form-field appearance="outline">
      <mat-label>{{ label }}</mat-label>

      <input
        [value]="value"
        [formControl]="input"
        matInput
        (click)="changeHide()"
        [placeholder]="value ? value : placeholde"
      />
    </mat-form-field>
  </div>

  <div *ngIf="hide">
    <div *ngIf="filtro$ | async; else noFilter" class="options-dropdown">
      <div *ngFor="let item of filtro$ | async" class="item">
        <div class="item" (click)="selectOption(item)">
          <p>
            {{ item }}
          </p>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <ng-template #noFilter>
      <div class="options-dropdown" *ngIf="hide">
        <app-autocomplete-item [options]="options" (clicked)="selectOption($event)"></app-autocomplete-item>
      </div>
    </ng-template>
  </div>
</div>
