<div class="autocomplete">
  <mat-form-field appearance="outline" class="teste">
    <mat-label>label</mat-label>
    <input [formControl]="input" matInput (click)="changeHide()" />
  </mat-form-field>

  <div *ngIf="hide">
    <div *ngIf="filtro$ | async; else teste" class="options-dropdown">
      <div *ngFor="let item of filtro$ | async">
        {{ item }}
        <mat-divider></mat-divider>
      </div>
    </div>

    <ng-template #teste>
      <div class="options-dropdown">
        <div *ngFor="let item of list" class="item">
          <p>
            {{ item }}
          </p>
          <mat-divider></mat-divider>
        </div>
      </div>
    </ng-template>
  </div>
</div>
