.autocomplete {
  width: 240px;
}

.teste {
  width: 100%;
}

.mat-form-field-wrapper {
  padding: 0;
}

p {
  margin: 1% 4%;
  cursor: pointer;
  animation: fadein 125ms forwards;
}

.item:hover{
  background-color: #cfcfcf;
  color: #000;

}
.options-dropdown {
  z-index: 1;
  top: 3rem !important;
  box-shadow: 1px 1px 10px rgba(#000, 0.2);
  animation: fadein 125ms forwards;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 4px;
  word-wrap: normal;
  line-break: normal;
  color: #999999;
  text-transform: none;
}
